# Database (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=corretor_prova_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/corretor_prova_db

# Cache / Queue (Redis)
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_URL=redis://localhost:6379

# API
PORT=3333
HOST=0.0.0.0
NODE_ENV=development
